<link rel="stylesheet" href="/css/flashcards.css" crossorigin="anonymous">
<link rel="stylesheet" href="/css/globalStyle.css" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><img class="logo" src="/assets/quiz_base_black.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            {{#if user}}
            <a class="nav-link light" href="/logout">Logout</a>
            <a class="nav-link" href="/myQuizzes">My Quizzes</a>
            {{else}}
            <a class="nav-link" href="/login">Log in</a>
            <a class="nav-link" href="/signup">Sign up</a>
            {{/if}}
        </div>
    </div>
</nav>
<section>
    <div class="jumbotron pt-2 mb-0">
        <h1 class="display-4 text-center my-4">{{shuffledQuestion.0.Quiz.quiz_name}} Quiz Flashcards</h1>
        <div id="quiz-id" class="hide">{{shuffledQuestion.0.Quiz.id}}</div>

        {{#each shuffledQuestion}}
        <div class="card-container">
            <div class="card card-front">
                <h4 class="card-title">{{question}}</h4>
                <ul>
                    <li>{{choices.[0]}}</li>
                    <li>{{choices.[1]}}</li>
                    <li>{{choices.[2]}}</li>
                    <li>{{choices.[3]}}</li>
                </ul>
            </div>
            <div class="card card-back">
                <div class="card-body text-center">
                    <h4 class="card-title">Answer: <span>{{answer}}</spane>
                    </h4>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>