<section>

    <div class="jumbotron pt-2 mb-0">
        <h1 class="display-4 text-center my-4">{{questions.0.Quiz.quiz_name}} Quiz Questions</h1>
        <form class="mb-4" action="/questions/{{questions.0.Quiz.id}}" method="POST">
            <div class="row">
                <div class="col mb-2">
                    <label for="question" class="form-label">Question <span style="color: red;">*</span></label>
                    <input type="text" name="question" class="form-control" id="question">
                </div>
                <div class="col mb-2">
                    <label for="answer" class="form-label">Answer <span style="color: red;">*</span></label>
                    <input type="text" name="answer" class="form-control" id="answer">
                </div>
            </div>
            <label class="form-label">Multiple Choices <span style="color: red;">*</span></label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">1:</div>
                </div>
                <input type="text" name="choice_a" class="form-control" id="choice_a">
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">2:</div>
                </div>
                <input type="text" name="choice_b" class="form-control" id="choice_b">
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">3:</div>
                </div>
                <input type="text" name="choice_c" class="form-control" id="choice_c">
            </div>
            <input type="submit" value="Add Question" class="btn btn-info">
        </form>
        {{#each questions}}
        <div class="card my-1">
            <div class="card-body pb-1">
                <div style="display: flex; justify-content: left;">
                    <a class="edit-button px-1" data-id={{id}}><i class="fas fa-edit"></i></a>
                    <a class="delete-button px-1" data-id={{id}}
                        style="color: red; font-weight: bold; font-size: 18px;">X</a>
                    <h4 class="px-1">{{question}}</h4>
                </div>
                <ul>
                    <li>Answer: {{answer}}</li>
                    <li>Choices:
                        <ul>
                            <li>{{choice_a}}</li>
                            <li>{{choice_b}}</li>
                            <li>{{choice_c}}</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        {{/each}}
    </div>

</section>
<script src="/js/questions.js"></script>