<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/" style="color:white; font-size: 25px;">QuizBase</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            {{#if user}}
            <a class="nav-link" href="/logout">Logout</a>
            {{else}}
            <a class="nav-link" href="/login">Log in</a>
            <a class="nav-link" href="/signup">Sign up</a>
            {{/if}}
        </div>
    </div>
</nav>

<div id="quiz-page">
    <div class="jumbotron jumbotron-fluid pt-2 mb-0">
        <div class="container">
            <h1 class="display-4 text-center quiz-title">{{quiz.quiz_name}} Quiz <span id="quiz-id"
                    style="display: none;">{{quiz.id}}</span></h1>
            <p id="question" class="lead"></p>
            <div class="list-group">
                <a id="choiceA" class="list-group-item list-group-item-action"></a>
                <a id="choiceB" class="list-group-item list-group-item-action"></a>
                <a id="choiceC" class="list-group-item list-group-item-action"></a>
                <a id="choiceD" class="list-group-item list-group-item-action"></a>
            </div>
            <p class="text-center" style="font-size: 50px">
                <span class="fa fa-clock-o mr-2"></span><span id="timer">75</span>
            </p>
            <p class="text-center" style="font-size: 50px">
                <span>Score: </span><span id="score">0</span>
            </p>
        </div>
    </div>
</div>

<div id="initials-page" style="display: none;">
    <div class="jumbotron jumbotron-fluid pt-4 mb-0">
        <div class="container">
            <h1 class="display-4 text-center score-alert">Time's Up!</h1>
            <p class="lead text-center">You scored <span id="final-score">0</span> points</p>
            {{#if user}}
            <form action="/highscores/add/{{quiz.id}}" method="POST">
                <div class="input-group mb-3 justify-content-center">
                    <div class="input-group-prepend">
                        <button type="submit" class="btn btn-info" id="submitBtn">Submit</button>
                    </div>
                    <input type="text" name="username" class="form-control" id="username" value={{user.username}} readonly>
                    <input type="text" name="score" class="form-control" id="score-input" readonly>
                    <input type="text" name="userId" class="form-control" id="userId" value={{user.id}}
                        style="display: none;" readonly>
                </div>
            </form>
            {{else}}
            <div class="input-group mb-3 justify-content-center">
                <div class="input-group-prepend">
                    <a class="btn btn-info" class="form-control" href="/login" >Submit</a>
                </div>
                <input type="text" name="score" id="score-input" readonly>
            </div>
            <p class="lead">Submit your scores and see how you stack up by <a class="link-info" href="/login">logging
                    in</a> or <a class="link-info" href="/signup">signing up</a></p>
            {{/if}}
        </div>
    </div>
</div>

<script src="/js/quiz.js"></script>